<?xml version="1.0" encoding="UTF-8"?>
<!--typeHandler 类型处理器-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <!--1.系统定义typeHandler-->
        <!--2.自定义typeHandler-->
        <typeHandler handler="com.alan.yx.typeHandler.MyStringTypeHandler"
                     jdbcType="VARCHAR" javaType="string"/>
    </typeHandlers>
</configuration>